<div class="animation">
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
    <div id="animation_1"></div>
    <div id="animation_2"></div>
</div>