<section class="detailDiv" >
    <div id="imgDiv">
        <img src="images/courage_1.jpg" alt="Photo of courage">
        <div class= "alignCenter"><strong>SOFTWARE ENGINEER</strong></div>
        <hr>
        <div class = "socialMedia">
            <div>
                <a href="#" alt="not available"><i class="fab fa-twitter"></i></a>
            </div>
            <div>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
            <div>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="https://github.com/courageWae" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/courage-waelinam-ahorttor-91408a18a/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div> 
    </div>
</section>
