<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "../css/index.css">
        <link rel= "stylesheet" href="../fontawesome-free/css/all.css">
    </head>
    <body>
            <main>
                <!-- Detail Div-->
                <section class="detailDiv" >
                    <div id="imgDiv">
                        <img src="../images/courage_1.jpg" alt="Photo of courage">
                        <div class= "alignCenter"><strong>SOFTWARE ENGINEER</strong></div>
                        <hr>
                        <div class = "socialMedia">
                            <div>
                                <a href="#" alt="not available"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </div>
                            <div>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div>
                                <a href="https://github.com/courageWae" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/in/courage-waelinam-ahorttor-91408a18a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div> 
                    </div>
                </section>
                <!-- End of Detail Div-->
                <nav>
                    <a href="index.html">
                        <div>About</div>
                    </a>
                    <a href="experience.html">
                        <div class="active">Experience</div>
                    </a>
                    <a href="projects.html">
                        <div>Projects</div>
                    </a>
                    <a href="skills.html">
                        <div>Skills</div>
                    </a>
                    <a href="https://drive.google.com/file/d/1f4xNMT1L2NBP1d4dxNosU6ehvjNaA1dV/view?usp=sharing" target= "_blank">
                        <div>CV</div>
                    </a>
                </nav>
                <div class = "about">
                    <h2 class="alignCenter">Expericence</h2>
                    <hr>
                        <section class="experience">
                            <div class="shadow" id="fadeIn1">
                                <div class="experienceTitle">
                                    <div>
                                        <i>MARCH 2021 - PRESENT</i><br>
                                        <em>
                                            SOFTWARE ENGINEER, <a href="https://toldoit.com" target="_blank">Toldo Limited</a>
                                        </em>
                                    </div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Built multi tenant base applications for client in a various programming languages such as Java(Spring Boot), Php(Laravel) and JavaScript(Node.js).
                                        </li>
                                        <li>
                                            Single Handedly maintained and refactored existing codebase written in Php, Laravel and Mysql.
                                        </li>
                                        <li>
                                            Single Handedly improved buggy application functionality and introduced good ( Could be better. Lol) ways of writing clean codes and testing of codes.
                                        </li>
                                        <li>
                                            Actively trying to introduce the use of other technologies such as Docker and Kubernetes in the software development process to reduce operating system related bugs.
                                        </li>
                                        <li>
                                            Exporting and importing databasess in various formats such as Comma Seperated Values (CSV), Tab Seperated Values (TSV).
                                        </li>
                                    </ul>
                                </div>    
                            </div>

                            <div class="shadow" id="fadeIn2">
                                <div class="experienceTitle">
                                    <div>
                                        <i>MARCH 2019 - DECEMBER 2020</i><br>
                                        <em>
                                            WEB DEVELOPER, <a href="#" target="_blank">i-Technologies</a>
                                        </em>
                                    </div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Spearheaded the transition of already existing web applications in CMS tools such as Wordpress to Php, Laravel, JavaScript and Vue.
                                        </li>
                                        <li>
                                            Single handedly built an employee attendance standalone application in the java programming language to enable easy monitoring of employess.
                                        </li>
                                        <li>
                                           Helped in the creating of Application programming Interfaces (API) for the easy integration of products into third party applications.
                                        </li>
                                        <li>
                                            Helped in the setting up networking infrastructure, by laying ethernet cables and maintianing it using microsoft windows server 2016 and Redhat linux operating system.
                                        </li>
                                    </ul>
                                </div>    
                            </div>

                            <div class="shadow" id="fadeIn4">
                                <div class="experienceTitle">
                                    <div>
                                        <i>SEPTEMBER 2018 - DECEMBER 2018</i><br>
                                        <em>
                                            SOFTWARE DEVELOPER INTERN, <a href="#" target="_blank">BISTA SOLUTIONS LIMITED</a>
                                        </em>
                                    </div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Built basic websites using HTML, CSS and JAVASCRIPT for practical and professional purposes
                                        </li>
                                        <li>
                                            Built websites with CMS tools such as WORDPRESS, WIX etc.
                                        </li>
                                        <li>
                                            Exporting and importing databasess in various formats such as Comma Seperated Values (CSV), Tab Seperated Values (TSV).
                                        </li>
                                        <li>
                                            Creating powerpoint and excel documents on various developmental projects for presentational purposes
                                        </li>
                                    </ul>
                                </div>    
                            </div>         
                        </section>               
                </div>
            </main>
    </body>
</html>