<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "css/index.css">
        <link rel= "stylesheet" href="../../fontawesome-free/css/all.css">
    </head>
    <body>
        <header class = "firstDiv">C O U R A G E&nbsp&nbspW A E L I N A M&nbsp&nbspA H O R T T O R</header>
            <main>
                <nav>
                    <a href="/">
                        <div>About</div>
                    </a>
                    <a href="/experience">
                        <div class="active">Experience</div>
                    </a>
                    <a href="/projects">
                        <div>Projects</div>
                    </a>
                    <a href="/skills">
                        <div>Skills</div>
                    </a>
                    <a href="https://drive.google.com/file/d/1f4xNMT1L2NBP1d4dxNosU6ehvjNaA1dV/view?usp=sharing" target= "_blank">
                        <div>CV</div>
                    </a>
                </nav>
                <div class = "about">
                    <h2 class="alignCenter">Expericence</h2>
                    <hr>
                        <section class="experience">
                            <div class="shadow" id="fadeIn1">
                                <div class="experienceTitle">
                                    <div style="padding : 5px;">
                                        <img src="../../images/toldoit-logo.png" alt="Photo of courage">                                
                                    </div>
                                    <div class = "experienceTitle_1"><a href="https://toldoit.com" target="_blank" class = "sites ">Toldo Limited</a></div>
                                    <div class = "experienceTitle_1"><strong>Software Engineer</strong></div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Built multi tenant base applications for client in a various programming languages such as Java(Spring Boot), Php(Laravel) and JavaScript(Node.js).
                                        </li>
                                        <li>
                                            Single Handedly maintained and refactored existing codebase written in Php, Laravel and Mysql.
                                        </li>
                                        <li>
                                            Single Handedly improved buggy application functionality and introduced good ( Could be better. Lol) ways of writing clean codes and testing of codes.
                                        </li>
                                        <li>
                                            Actively trying to introduce the use of other technologies such as Docker and Kubernetes in the software development process to reduce operating system related bugs.
                                        </li>
                                        <li>
                                            Exporting and importing databasess in various formats such as Comma Seperated Values (CSV), Tab Seperated Values (TSV).
                                        </li>
                                    </ul>
                                    <div class = "dates">January 10 2021 - Present | Achimota, Accra-Ghana</div>
                                </div>    
                            </div>

                            <div class="shadow" id="fadeIn2">
                                <div class="experienceTitle">
                                    <div style = "padding : 3px;">
                                        <img src="../../images/itech.png" alt="Photo of courage">                                
                                    </div>
                                    <div class = "experienceTitle_1"><a href="https://toldoit.com" class = "sites" target="_blank">iTechnologies Limited</a></div>
                                    <div class = "experienceTitle_1"><strong>Web Developer</strong></div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Spearheaded the transition of already existing web applications in CMS tools such as Wordpress to Php, Laravel, JavaScript and Vue.
                                        </li>
                                        <li>
                                            Single handedly built an employee attendance standalone application in the java programming language to enable easy monitoring of employess.
                                        </li>
                                        <li>
                                           Helped in the creating of Application programming Interfaces (API) for the easy integration of products into third party applications.
                                        </li>
                                        <li>
                                            Helped in the setting up networking infrastructure, by laying ethernet cables and maintianing it using microsoft windows server 2016 and Redhat linux operating system.
                                        </li>
                                    </ul>
                                    <div class = "dates">March 10 2020 - December 23 2020 | West Legon, Accra-Ghana</div>
                                </div>    
                            </div>

                            <div class="shadow" id="fadeIn3">
                                <div class="experienceTitle">
                                    <div class="icon">
                                       Tema General Hospital                                
                                    </div>
                                    <div class = "experienceTitle_1"><a href="#" class = "sites">Tema General Hospital</a></div>
                                    <div class = "experienceTitle_1"><strong>National Service Personnel</strong></div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Actively involved in the education of stuffs in the use of Micorsoft excel, word and PowerPoint to record data.
                                        </li>
                                        <li>
                                            Actively involved in the education of stuff on how to locally backup data on their harddrives.
                                        </li>
                                        <li>
                                            Proposed the building of the hospitals websites.
                                        </li>
                                        <li>
                                            Proposed the the transition of manually recording national service personnel to digitally record them using a mobile application.
                                        </li>
                                    </ul>
                                    <div class = "dates">September 20 2018 - August 23 2019 | Tema comm 9, Accra-ghana</div>
                                </div>    
                            </div>

                            <div class="shadow" id="fadeIn4">
                                <div class="experienceTitle">
                                    <div style = "padding : 3px;">
                                        <img src="../../images/bista-logo.png" alt="Photo of courage">                                
                                    </div>
                                    <div class = "experienceTitle_1"><a href="https://toldoit.com" class = "sites" target="_blank">Bista Solutions Limited</a></div>
                                    <div class = "experienceTitle_1"><strong>Software Developer Intern</strong></div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            Built basic websites using HTML, CSS and JAVASCRIPT for practical and professional purposes
                                        </li>
                                        <li>
                                            Built websites with CMS tools such as WORDPRESS, WIX etc.
                                        </li>
                                        <li>
                                            Exporting and importing databasess in various formats such as Comma Seperated Values (CSV), Tab Seperated Values (TSV).
                                        </li>
                                        <li>
                                            Creating powerpoint and excel documents on various developmental projects for presentational purposes
                                        </li>
                                    </ul>
                                    <div class = "dates">March 20 2017 - August 23 2017 | Kokomlemle, Circle-Accra</div>
                                </div>    
                            </div>         
                        </section>               
                </div>
            </main>
    </body>
</html>