<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "css/index.css">
        <link rel= "stylesheet" href="fontawesome-free/css/all.css">
    </head>
    <body>
        
        <header class = "firstDiv">C O U R A G E&nbsp&nbspW A E L I N A M&nbsp&nbspA H O R T T O R</header>
            <main>
                <!-- Detail Div-->
                <section class="detailDiv" >
                    <div id="imgDiv">
                        <img src="images/courage_1.jpg" alt="Photo of courage">
                        <div class= "alignCenter"><strong>SOFTWARE ENGINEER</strong></div>
                        <hr>
                        <div class = "socialMedia">
                            <div>
                                <a href="#" alt="not available"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </div>
                            <div>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div>
                                <a href="https://github.com/courageWae" target="_blank"><i class="fab fa-github"></i></a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/in/courage-waelinam-ahorttor-91408a18a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div> 
                    </div>
                </section>
                

                <!-- End of Detail Div-->
                <nav>
                    <a href="/">
                        <div  class="active">About</div>
                    </a>
                    <a href="/experience">
                        <div >Experience</div>
                    </a>
                    <a href="/projects">
                        <div>Projects</div>
                    </a>
                    <a href="/skills">
                        <div>Skills</div>
                    </a>
                    <a href="https://drive.google.com/file/d/1f4xNMT1L2NBP1d4dxNosU6ehvjNaA1dV/view?usp=sharing" target= "_blank">
                        <div>CV</div>
                    </a>
                </nav>
                <section class="about">
                    <h2 class="alignCenter">ABOUT ME</h2>
                    <hr>
                    <p><strong>Courage Waelinam Ahorttor</strong> is an experienced software engineer with a demonstrated history of working in the computer software industry. He has proven to be very efficient in both frontend and backend aspect of software development. He is Motivated by a passion for problem solving and software development. He enjoys contributing in high performing teams and building effective solutions to real-world problems.</p>
                    <p>He has worked with multiple companies and he is currently working as a backend software developer at <a href="https://toldoit.com/" target="_blank">Toldo Limited</a>, building products as a SaaS ( Software as a Service ). He primarily works with Php, Laravel and Mysql </p>
                    <p>He is very fascinated with <strong>.Net</strong> technologies and currently learning how to build products with <strong>C#</strong> and <strong> VB.NET</strong></p>
                    </p>            
                </section>
                <%- include("layouts/animation") -%>
            </main>
    </body>
</html>