<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "css/index.css">
        <link rel= "stylesheet" href="../../fontawesome-free/css/all.css">
    </head>
    <body>
        <header class = "firstDiv">C O U R A G E&nbsp&nbspW A E L I N A M&nbsp&nbspA H O R T T O R</header>
            <main>
                <nav>
                    <a href="/">
                        <div>About</div>
                    </a>
                    <a href="/experience">
                        <div>Experience</div>
                    </a>
                    <a href="/projects" >
                        <div class="active">Projects</div>
                    </a>
                    <a href="/skills">
                        <div>Skills</div>
                    </a>
                    <a href="https://drive.google.com/file/d/1f4xNMT1L2NBP1d4dxNosU6ehvjNaA1dV/view?usp=sharing" target= "_blank">
                        <div>CV</div>
                    </a>
                </nav>
                <div class = "about">
                    <h2 class="alignCenter">Projects</h2>
                    <hr>
                    <section class = "projects">
                        <div class="shadow" id="fadeLeft1" >
                            <img src="../../images/nubiaemr.png" alt="Photo of courage">
                            <div style="display:inline-block; width:70%;">
                                <h3>Nubia Emr</h3>
                            </div>
                            <div style="display:inline-block;">
                                <a href="#">
                                    <i class="fas fa-external-link-alt" ></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <div class="projectDescription">
                                The Electronic Medical Records Solution for Medical Practitioners. Designed exclusively for Hospitals, Clinics, Medical Laboratories and Specialist Practices. Document information, create reports and collaborate with ease.
                            </div>
                            <div class="dates">Technologies : <span>Php(Laravel), Javascript(Angular), Mysql</span></div>
                        </div>
                        <div class="shadow" id="fadeLeft2" >
                            <img src="../../images/scribe.png" alt="Photo of courage">
                            <div style="display:inline-block; width:70%;">
                                <h4>Scribe Productions</h4>
                            </div>
                            <div style="display:inline-block;">
                                <a href="#">
                                    <i class="fas fa-external-link-alt" ></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <div class="projectDescription">
                                Scribe Productions is a top-notch, Ghanaian Production house with a laser focus on providing holistic entertainment spanning from theater to screen for all ages.
                            </div>
                            <div class="dates">Technologies : <span>Php(Laravel), Javascript(Angular), Mysql</span></div>
                        </div>
                        <div class="shadow" id="fadeLeft3" >
                            <img src="../../images/career.png" alt="Photo of courage">
                            <div style="display:inline-block; width:70%;">
                                <h3>Career Predictor</h3>
                            </div>
                            <div style="display:inline-block;">
                                <a href="#">
                                    <i class="fas fa-external-link-alt" ></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <div class="projectDescription">
                                Career predictor is an experiemental web application for predicting career for students, or student graduate from the computer science discipline.
                            </div>
                            <div class="dates">Technologies : <span>Php(Laravel), Javascript(Vue), PostgreSql</span></div>
                        </div>
                        <div class="shadow" id="fadeLeft3" >
                            <img src="../../images/agric.png" alt="Photo of courage">
                            <div style="display:inline-block; width:70%;">
                                <h3>Agric Store</h3>
                            </div>
                            <div style="display:inline-block;">
                                <a href="#">
                                    <i class="fas fa-external-link-alt" ></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <div class="projectDescription">
                                Agric Store is an experiemental e-commerce web application solely dedicated to the sales of agriculture products, equipments and anything related to agriculture.
                            </div>
                            <div class="dates">Technologies : <span>Php(Laravel), Javascript(Vue), Mysql</span></div>
                        </div>
                        <div class="shadow" id="fadeLeft3" >
                            <img src="../../images/lexi.png" alt="Photo of courage">
                            <div style="display:inline-block; width:70%;">
                                <h3>Book a Laywer</h3>
                            </div>
                            <div style="display:inline-block;">
                                <a href="#">
                                    <i class="fas fa-external-link-alt" ></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <div class="projectDescription">
                                Book a lawyer is an exprerimental application that gives client who are registered to an insurance company the opportunity to book a lawyer registered with an insurance company. 
                            </div>
                            <div class="dates">Technologies : <span>Php(Laravel), Javascript(Mysql), PostgreSql</span></div>
                        </div>
                    </section>            
                </div>
            </main>
    </body>
</html>